@font-face {
    font-family: "SpaceMono";
    src: url("/SpaceMono-Regular.ttf");
}
body { 
    background-color: black;
    color: #f2f2f2;
    font-family: "SpaceMono", Arial;
    margin-top: 30px;
}

li {
    list-style: none;
}

#tracks li:hover {
    cursor: pointer;
    opacity: 0.6 !important;
    transition: opacity 0.4;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

#playlists a {
    opacity: 1;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.4;
}

#playlists a:hover {
    cursor: pointer;
    opacity: 0.6 !important;
    transition: opacity 0.4;
    border-bottom-style: solid;
}

.help-container {
    padding-bottom: 15px;
    font-size: 9pt;
}
.help-cmd:before {
    content: ".";
}
.help-cmd, .help-value {
    display: inline-block;
    padding-right: 10px;
}

.help-value {
    font-style: italic;
}

.help-desc {
    padding-left: 10px;
}

#tracks {
    grid-area: tracks;
    padding: 0;
}

#playlists {
    grid-area: playlists;
}

#terminal {
    grid-area: terminal;
    font-size: 12pt;
    color: #c4c4c4;
    background-color: #1d1d1d;
    border: none;
    padding: 7px;
    outline: 0;
}

#title {
    grid-area: title;
}

#player {
    grid-area: player;
    display: none;
}

#toggle {
    grid-area: toggle;
}

#time {
    grid-area: time;
    justify-self: end;
}

#commands {
    grid-area: commands;
    justify-self: end;
}

.playing:before {
    content: "► ";
}

.playing {
    margin-left: -20px;
}

.center {
    display: grid;
    grid-area: center;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 35px 50px 1fr;
    grid-template-areas: 
    "title"
    "time"
    "terminal"
    "tracks"
    ;
}

#grid-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 325px 650px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "playlists  center commands"
    "playlists  center commands"
    "playlists  center commands"
    "playlists  center commands"
    "player     center commands"
    ;
}
